body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator{
  background: rgb(29, 185, 224);
  width: 22rem;
  height: 30rem;
  border-radius: 10px;
}
.screen{
  width: 95%;
  background-color: aliceblue;
  height: 5rem;
  margin: 10px;
}
.screen p{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  font-size: xx-large;
  padding-right: 1.5rem;
}
.buttons-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.calc-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: 1px solid black;
}
.calc-button:hover{
  background-color: rgb(218, 218, 218);
  transition: ease-in 0.2s;
  cursor: pointer;
}